In [1]:
import pandas as pd

# Paths
base_path = "data/raw"

# Load datasets
customers = pd.read_csv(f"{base_path}/Customers.csv")
products = pd.read_csv(f"{base_path}/Products.csv")
transactions = pd.read_csv(f"{base_path}/Transactions.csv")

print("Datasets loaded successfully")

Datasets loaded successfully

**Loads the three raw datasets (Customers, Products, Transactions) required for data cleaning and preparation.**

In [2]:
customers.info()
products.info()
transactions.info()

<class 'pandas.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    200 non-null    str
 1   CustomerName  200 non-null    str
 2   Region        200 non-null    str
 3   SignupDate    200 non-null    str
dtypes: str(4)
memory usage: 6.4 KB
<class 'pandas.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    100 non-null    str
 1   ProductName  100 non-null    str
 2   Category     100 non-null    str
 3   Price        100 non-null    float64
dtypes: float64(1), str(3)
memory usage: 3.3 KB
<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    1000 non-null   str
 1   CustomerID       1000 non-null   str
 2   ProductID        1000 non-null   str
 3   TransactionDate  1000 non-null   str
 4   Quantity         1000 non-null   int64
 5   TotalValue       1000 non-null   float64
 6   Price            1000 non-null   float64
dtypes: float64(2), int64(1), str(4)
memory usage: 54.8 KB

In [3]:
customers.isnull().sum()
products.isnull().sum()
transactions.isnull().sum()

TransactionID      0
CustomerID         0
ProductID          0
TransactionDate    0
Quantity           0
TotalValue         0
Price              0
dtype: int64

In [4]:
customers.duplicated().sum()
products.duplicated().sum()
transactions.duplicated().sum()

np.int64(0)

**Performed initial profiling to understand data types, missing values, and duplicate records before cleaning.**

In [5]:
customers['SignupDate'] = pd.to_datetime(
    customers['SignupDate'], errors='coerce'
)

transactions['TransactionDate'] = pd.to_datetime(
    transactions['TransactionDate'], errors='coerce'
)

**Standardized date formats to ensure consistency and enable time-based analysis.**

In [6]:
customers['Region'] = (
    customers['Region']
    .str.strip()
    .str.title()
)

**Standardized text formatting to remove inconsistencies in categorical fields.**

In [7]:
customers.drop_duplicates(inplace=True)
products.drop_duplicates(inplace=True)
transactions.drop_duplicates(inplace=True)

**Removed duplicate records to improve data quality and avoid inaccurate analysis.**

In [8]:
transactions['OrderYear'] = transactions['TransactionDate'].dt.year
transactions['OrderMonth'] = transactions['TransactionDate'].dt.month

**Created new features (order year and month) to support future trend and seasonal analysis.**

In [9]:
final_df = transactions.merge(
    customers, on='CustomerID', how='left'
).merge(
    products, on='ProductID', how='left'
)

**Merged multiple tables into a single analysis-ready dataset using CustomerID and ProductID.**

In [10]:
output_path = "data/cleaned"

final_df.to_csv(f"{output_path}/cleaned_dataset.csv", index=False)

print("Cleaned dataset saved successfully")

Cleaned dataset saved successfully

**Exported the final cleaned and enriched dataset for analysis and reporting.**

In [11]:
final_df.head()
final_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    1000 non-null   str
 1   CustomerID       1000 non-null   str
 2   ProductID        1000 non-null   str
 3   TransactionDate  1000 non-null   datetime64[us]
 4   Quantity         1000 non-null   int64
 5   TotalValue       1000 non-null   float64
 6   Price_x          1000 non-null   float64
 7   OrderYear        1000 non-null   int32
 8   OrderMonth       1000 non-null   int32
 9   CustomerName     1000 non-null   str
 10  Region           1000 non-null   str
 11  SignupDate       1000 non-null   datetime64[us]
 12  ProductName      1000 non-null   str
 13  Category         1000 non-null   str
 14  Price_y          1000 non-null   float64
dtypes: datetime64[us](2), float64(3), int32(2), int64(1), str(7)
memory usage: 109.5 KB